.parent{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}
.child{
    width: 250px;
    height: 280px;
    background-color: #d1d5db;
    border-radius: 4px;
    margin-top: 15px;
}
